.container {
  padding: 40px 0;
  max-width: 800px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.heading {
  font-size: 44px;
  color: #fff;
}
.twitter,
.github {
  margin: 0 10px;
  position: relative;
  display: inline-block;
  color: #10a5e9;
  cursor: pointer;
  z-index: 10;
}
.subtwitter {
  content: " ";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #10a5e9;
  opacity: 0.1;
  rotate: -3deg;
  z-index: -1;
}

.image {
  height: 800px;
  width: 800px;
  margin: 10px 0;
}
.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 80%;
}
.bio {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bio h5 {
  font-size: 24px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 800;
}
.bio p {
  color: #ffffff7c;
  font-size: 16px;
  line-height: 170%;
  font-weight: 500;
}
.worktitle {
  font-size: 24px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 800;
}
.work {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
