* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #0f172a;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}

.layoutContainer {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.childrenContainer {
  padding: 50px 0;
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
